.text{
    font-family: Poppins, sans-serif;
    margin: 6rem 4.5rem;
    max-width: 55rem;
}

.text h1{
    font-size: 4rem;
}

.text h3{
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
}

.conteudo-1{
    display: flex;
}

.slide{
    max-width: 51rem;
    max-height: 49rem;
}

@media all and (max-width: 1500px){
    .conteudo-1{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .slide{
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 30rem;
        max-height: 30rem;
    }
}